---
layout: base
title: 'Community at North End Makerspace in Seattle, WA'
description: 'Join a nonprofit makerspace in the north end of the greater Seattle area. We are an inclusive community
who get together to learn, share, and grow.'
images:
- images/grams/gram01.png
- images/grams/gram02.png
- images/grams/gram03.png
- images/grams/gram04.png
- images/grams/gram05.png
- images/grams/gram06.png
- images/grams/gram07.png
- images/grams/gram08.png
- images/grams/gram09.png
- images/grams/gram10.png
- images/grams/gram11.png
- images/grams/gram12.png
---
<section class="jumbotron text-center mb-4 rounded-0">
  <div class="container">
    <h1 class="jumbotron-heading">We Love Our Community</h1>
    <p class="lead text-muted">So much so that we run several social media outlets for us all to interact on. Click an
      icon below to visit that platform and follow us there or peruse some of the great photos below, pulled from our
      Instagram feed.</p>
    {%- include socials.html -%}
  </div>
</section>

<div class="container">
  {% for file in page.images %}
  {% assign index = forloop.index0 | modulo: 3 %}
  {% if index == 0 %}<div class="row">{% endif %}
    <div class="col-md-4 mb-4">
      <img src="{{ file | relative_url }}" class="img-fluid" alt="instagram caption">
    </div>
    {% if index == 2 or forloop.last %}
  </div>{% endif %}
  {% endfor %}
</div>

<section class="jumbotron text-center mb-0 rounded-0">
  <div class="container">
    <h1 class="jumbotron-heading">Jump In!</h1>
    <p class="lead text-muted">If you're new to the space and want to get help or show off a project right away, we
      highly recommend you check out <a target=_blank href="https://nems.link/discord">our virtual makerspace on
        Discord</a>. Some other great ways to get involved quick are to attend and event or become a member!</p>
    <p>
      <a href="{{ 'join' | relative_url }}" class="btn btn-primary my-2">Become a Member</a>&nbsp;&nbsp;&nbsp;
      <a href="{{ 'events' | relative_url }}" class="btn btn-secondary my-2">Attend an Event</a>
    </p>
  </div>
</section>