<footer>
    <div class="py-4 bg-dark text-center">
        <p class="lead text-light">&copy;
            {{ site.time | date: "%Y" }} North End Makerspace<br /><span class=text-muted>a 501(c)(3) nonprofit
                corporation<br>proudly organized in Washington state</span><br /><br /><a
                class="text-decoration-none text-light" target=_blank href="https://nems.link/google">12317 15th Ave
                NE
                #103<br />Seattle, WA 98125</a><br />
            <br /><a target=_blank href="{{ 'privacy.html' | relative_url }}">Privacy</a> <span
                class=text-muted>&middot;</span> <a target=_blank href="{{ 'tos.html' | relative_url }}">Terms</a>
            <span class=text-muted>&middot;</span> <a target=_blank href="mailto:create@northendmakers.org">Contact</a>
            <span class=text-muted>&middot;</span> <a target=_blank href="https://nems.link/waiver">Waiver</a>
        </p>
    </div>
</footer>